<div class="container">
  <h1>User Details</h1>
  <div class="row">
    <div class="col-md-6">
        <div class="row">
            <label>Fisrt Name:</label>
            <span>{{details.firstName}}</span>
          </div>
          <div class="row">
              <label>Last Name:</label>
              <span>{{details.lastName}}</span>
            </div>
            <div class="row">
                <label>Email:</label>
                <span>{{details.email}}</span>
            </div>
            <div class="row">
                  <label>Gender:</label>
                  <span>{{details.gender}}</span>
            </div>
            <div class="row">
                  <label>City:</label>
                  <span>{{details.city}}</span>
            </div>
            <div class="row">
                  <label>Skills:</label>
                  <span>{{details.skills}}</span>
            </div>
    </div>
    <div class="col-md-6">
       <img [src]="'assets/images/'+details.imagePath" alt="{{details.firstName}}" class="img-responsive">
    </div>
  </div>
</div>
