<div class="container mt">
    <div class="row" style="margin-top:10px;">
     <h2>Users</h2>   
     <a routerLink="/user/add" title="Add User"><i class="fa fa-plus-circle" style="font-size:36px"></i></a> 
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Photo</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Email</th>
            <th>city</th>
            <th>Skills</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
              <td><img [src]="'http://localhost:5003/uploads/'+user.imagePath" [alt]="user.firstName" class="img-responsive" style="max-height:50px; max-width:50px;"></td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.gender}}</td>
              <td>{{user.email}}</td>
              <td>{{user.city}}</td>
              <td>{{user.skills}}</td>
              <td><a class="btn btn-primary" routerLink="/user/{{user.email}}">View</a>&nbsp;
                  <a class="btn btn-primary" routerLink="/user/edit/{{user.email}}">Edit</a>&nbsp;
                  <button type="button" class="btn btn-primary" (click)="onClickDelete(user.userId)">Delete</button>
              </td>
            </tr>
          <!-- <app-user *ngFor="let user of users" [user]="user"></app-user> -->
        </tbody>
      </table>
    </div>
  </div>




