<div class="container mt">
    <h1>Create User</h1>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a #prsnlDtls class="nav-link active" href="javascript:;" (click)="toggleTab(prsnlDtls, upldPhts, 'detail')">Personal Detail</a>
      </li>
      <li class="nav-item">
        <a #upldPhts class="nav-link" href="javascript:;" (click)="toggleTab(prsnlDtls, upldPhts, 'photo')">Upload Photo</a>
      </li>
    </ul>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" style="margin-top:20px;">
      <div [hidden]="prsnl">
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="firstname"> <span class="mandatory">*</span>First Name:</label>
                  <input type="text" class="form-control" placeholder="Enter First Name" [(ngModel)]="details.firstName"  name="firstname" (focus)="onFocus()">
                  <span class="errText" *ngIf="validationError.firstNameError">{{validationError.firstNameError}}</span>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <input type="text" class="form-control"  placeholder="Enter Last Name" [(ngModel)]="details.lastName" name="lastname" (focus)="onFocus()">
                    <!-- <span class="errText" *ngIf="validationError.lastNameError">{{validationError.lastNameError}}</span> -->
                </div>
                <div class="form-group">
                  <label for="email"><span class="mandatory">*</span>Email:</label>
                  <input type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="details.email" name="email" (focus)="onFocus()">
                  <span class="errText" *ngIf="validationError.emailError">{{validationError.emailError}}</span>
                </div>
                <div class="form-group">
                    <label for="city"><span class="mandatory">*</span>City:</label>
                    <button type="button" title="Add City" class="btn" data-toggle="modal" data-target="#myCityModal"><i class="fa fa-plus-circle" style="font-size:24px"></i></button>
                    <select class="form-control" id="city" required  [(ngModel)]="details.city" name="city">
                      <option value="">--select--</option>
                      <option *ngFor="let city of cities" [value]="city">{{city}}</option>
                    </select>
                </div>
          </div>
          <div class="col-md-6">
              <div class="form-group ml">
                  <label><span class="mandatory">*</span>Gender:</label><br>
                  <label><input type="radio" required name="gender" value="male" [(ngModel)]="details.gender">Male</label>&nbsp;
                  <label><input type="radio" required name="gender" value="female" [(ngModel)]="details.gender">Female</label>
              </div>
              <div class="form-group ml">
                  <label for="skill"><span class="mandatory">*</span>Skills:</label>
                  <button type="button" title="Add Skill" class="btn" data-toggle="modal" data-target="#mySkillModal"><i class="fa fa-plus-circle" style="font-size:24px"></i></button>
                  <span class="errText" *ngIf="validationError.skillError">{{validationError.skillError}}</span>
                  <br>
                  <span *ngFor="let skill of skills"><input type="checkbox"  [checked]="details.skills.indexOf(skill) > -1" name="{{skill}}" value="{{skill}}" (change)="onChangeCheckBox($event)">{{skill}}<br></span>
              </div>
            </div>
          </div>
      </div>
      <div [hidden]="photo">
        <div class="form-group">
           <div class="container">
            <div class="row">
                <label for="file">Upload Photo:</label>
            </div>        
            <div class="row">               
                <input #image type="file" class="form-control filebx" [(ngModel)]="details.imagePath"  id="file" name="file" />&nbsp;             
                <button type="button" class="btn btn-primary" (click)="onUploadPhoto(image)">Upload</button>
            </div>
            <!-- <span>{{details.imagePath}}</span>&nbsp; -->
          </div>
         </div> 
      </div>
      <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-primary">{{EditOrSubmitBtn}}</button>&nbsp;
      <button type="button"  class="btn btn-primary" (click)="onClickClear()">Clear</button>
      <button type="button" style="float: right;"  class="btn btn-primary" (click)="onClickBack()">Back</button>
    </form>


    <!-- Modal -->
    <div id="myCityModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">

            <div class="modal-header hh">
              <h4 class="modal-title">Add City</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">       
              <input #newCity type="text" value=""/>&nbsp;
              <button type="button" class="btn btn-primary" (click)="onClickAddCity(newCity)" data-dismiss="modal">Add</button>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
          </div>
      
        </div>
    </div>
    <div id="mySkillModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">

            <div class="modal-header hh">
              <h4 class="modal-title">Add Skill</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">       
              <input #newSkill type="text" value=""/>&nbsp;
              <button type="button" class="btn btn-primary" (click)="onClickAddSkill(newSkill)" data-dismiss="modal">Add</button>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
          </div>
      
        </div>
    </div>
  </div>
